/* ==========================================================================
	§1500 - ICONS (via icomoon)
   ========================================================================== */

[class^="icon-"], [class*=" icon-"] {
	@extend .icon;
}

.icon{
	font-family: 'pmd';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	top: 0.15em;
	position: relative;
	margin-right: 0.4em;
}

.icon-cog:before {
	content: "\e600";
}
.icon-warning:before {
	content: "\e601";
}
.icon-info:before {
	content: "\e602";
}
.icon-box-add:before {
	content: "\e603";
}
.icon-bookmark:before {
	content: "\e604";
}
