/* ==========================================================================
§3000 - HTML ELEMENT LEVEL (aka resetting the reset)
========================================================================== */


article,
aside,
header,
nav,
section,
footer{
	display: block;
	margin: 0;
	overflow: hidden;
	padding: $pmdconfig_space_vertical 0;
	position: relative;
	@extend .clear;
}

header{
	padding:0;
}

section:first-of-type{
	padding-top:0;
}

article{
	// colours will be applied by body class in 8004
	border-top: $pmdconfig_border_thickness_heavy*2 solid transparent;
	border-bottom: $pmdconfig_border_thickness_heavy*2 solid  transparent;
	padding: 0;
}

p:last-child{
	margin-bottom: 0;
}

kbd {
	background: none;
	border: 0;
	font-family: $pmdconfig_typeface_monospace !important;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
	word-break: break-all;
}

a {
	text-decoration: none;
	word-break: break-word;
}

a.uri {
	word-break: break-all; // make the best of a bad situation by wrapping long linked uris
}

ul {
	padding: $pmdconfig_space_vertical 0 $pmdconfig_space_vertical 0;
}

ul li{
	list-style-position: inside;
}

/* 3001 - TABLES etc
   ========================================================================== */

table {
	border-collapse: collapse;
	margin: $pmdconfig_space_vertical 0;
	width: 100%;
}

table tr th, table tr td{
	font-size: 1em;
}

table:last-child{
	margin-bottom: 0;
}

thead, th {
	font-weight: normal;
}

td, th  {
	padding: 12px $pmdconfig_space_vertical/2;
	text-align: left;
}

tbody th {
	padding-left: 0;
	padding-right: 12px;
	text-align: right;
}


/* 3002 - HEADERS
   ========================================================================== */

h1 {
	font-weight: bold;
	word-break: break-word; // becuase it might be a URI
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
}

header h2 {
	margin: 0 0 1em 0;
}

table h3 {
	margin-top: 0;
}
