/* 8500 - ARTICLE TOP STRIPE is coloured by body tag
   ========================================================================== */

.dataset article{
	border-top-color: $pmdconfig_colour_page_dataset;
	border-bottom-color: $pmdconfig_colour_page_dataset;
}

.theme article{
	border-top-color: $pmdconfig_colour_page_theme;
	border-bottom-color: $pmdconfig_colour_page_theme;
}

.concept article,
.concept_scheme article{
	border-top-color: $pmdconfig_colour_page_concept;
	border-bottom-color: $pmdconfig_colour_page_concept;
}

.resource article{
	border-top-color: $pmdconfig_colour_page_resource;
	border-bottom-color: $pmdconfig_colour_page_resource;
}

.ontology article{
	border-top-color: $pmdconfig_colour_page_ontology;
	border-bottom-color: $pmdconfig_colour_page_ontology;
}

.type article{
	border-top-color: $pmdconfig_colour_page_type;
	border-bottom-color: $pmdconfig_colour_page_type;
}