#out-of-spec
  :markdown
    Sorry, we don't support your browser. Some features may not function or display as intended.
    Please upgrade to at least Internet Explorer 8 (preferably version 10) or the latest version of Chrome/Safari/Firefox.
