<% unless Rails.env.production? %>
  <div style="background: orange;">
    <div style="padding:10px; font-size:18px; text-align:center;">
      <%= Rails.env.to_s %> environment.
    </div>
  </div>
<% end %>

<div id="out-of-spec">
  Sorry, we don't support your browser. Some features may not function or display as we intended. <br/>
  Please upgrade to at least Internet Explorer 8 (preferably version 10) or the latest version of Chrome/Safari/Firefox.
</div>