.pmd_error_box
	%p
		%i.icon-warning
		This
		= (description || resource.class.name.demodulize.humanize.downcase)
		has been discontinued
		- if (resource.replaced_by)
			and replaced by
			= link_to resource.replaced_by.to_s, resource.replaced_by.to_s
			Please use this instead.
		= link_to "What does this mean?", "/docs#discontinued-datasets"