.pmd_box_half.recent
	=label title
	%h4 01.01.14
	%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non velit et enim pharetra malesuada.
	.visible_when_javascript_available
		%a (show all updates)
	.hidden_when_javascript_available
		%h4 01.01.13
		%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non velit et enim pharetra malesuada.
		%h4 01.01.12
		%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non velit et enim pharetra malesuada.