%header.pmd
  .pmd_wrapper
    .pmd_row
      .pmd_box_full
        - # Change nav content
        %a{ href: '/', style: 'display: inline-block; padding: 24px 0; font-size: 24px;' }
          = appname