main, body > header, body > footer {
  @extend .container;
}

body > header {
  margin-top: 10px;

  ol.breadcrumb {
    margin-bottom: 0;
  }
}

footer.alternative-formats {
  margin-top: 10px;

  ul {
    @extend .list-inline;
  }
}

section#classes, section#properties, section#concepts, section#themes, section#datasets {
  ul {
    @extend .list-unstyled;
  }

}

section#datasets {
  .discontinued {
    @extend .label;
    @extend .label-warning;
  }
}

article#dataset, article#ontology, article#concept-scheme {
  @include make-row();
  @include make-md-column(12);

  & > header {
    h1, h2 {
      margin-top: 0;
      word-break:break-all;
    }
  }

  & > footer {
    ul {
    }
  }

  & > section.metadata {
    @include make-row();

    .primary {
      @include make-md-column(8);
    }

    .secondary {
      @include make-md-column(4);
    }
  }

  ul.tab-links {
    @extend .nav;
    @extend .nav-tabs;
  }
}

article#sparql {

  #error-message {
    h3 {
      margin-top:0;
    }
    @extend .alert;
    @extend .alert-danger;
  }
  form {
    @extend .form;

    .field {
      margin-bottom: 10px;
    }

    label {
      @extend .control-label;
    }
    textarea {
      @extend .form-control;
    }

    input[type=text] {
      @extend .form-control;
    }

    input[type=submit] {
      @extend .btn;
      @extend .btn-primary;
    }
  }

}

.tab-content > section {
  @extend .tab-pane;
  @include make-row();

  .primary {
    @include make-md-column(8);
  }
  .secondary {
    @include make-md-column(4);
  }
  .content {
    @include make-md-column(12);
  }
}

section#example-data, section#resource-data
 {
  table {
    @extend .table;
    // @extend .table-bordered;

    thead tr th {
      border: 0;
    }

    h3, h5 {
      margin: 2px 0;
      a {
        word-break:break-all;
      }
    }

    ul {
      @extend .list-unstyled;
      margin-bottom: 0;
      li a {
        word-break:break-all;
      }
    }

    a, h3, h4, icon {
      transition: color 0.3s;
    }

    &.lowlight tbody {
      h3, h4, a, icon {
        color: $gray-lighter;
      }
      .highlight, .highlight a {
        color: $link-color;
      }
      h4.highlight {
        color: $gray-dark;
      }
    }
  }
}

section#vocabularies {
  ul {
    @extend .list-unstyled;

    li {
      margin-bottom: 3px;
    }

    a:hover {
      text-decoration: none;
    }

    .ontology-label {
      @extend .label;
      @extend .label-primary;
    }
    .concept-scheme-label {
      @extend .label;
      @extend .label-info;
    }
  }
}


section#linked-data {
  a.button {
    @extend .btn;
    @extend .btn-primary;

    margin-top: 20px;
  }
}

article#dataset {

  #further-information {
    background: white;
    overflow:hidden;
    position:relative;

    .fade-out {
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
      text-align: center;
      margin: 0;
      height:52px; /* dont fade over the whole thing - start half way up */

      background: transparent; /* Old browsers */
      /* css3 (not many browsers yet!) */
      background-image: linear-gradient( to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255,255,255,0)),
        color-stop(1, rgba(255,255,255,1)));
      background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
      background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)); /* ie10*/
      background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
    }

    &.truncated {
      height:105px;
    }
  }

  section#grid-view {

    .grid-intro {
      margin-top:20px;
    }

    .controls-wrapper {
      @include clearfix();

      #dimensions-controls {
        .rows-and-columns {
          @include make-md-column(6);
        }
        .other-options {
          @include make-md-column(6);
        }
      }
    }


  }
}