#dimensions-controls
  %form(style="margin:0; display:none")
    .rows-and-columns
      %fieldset.rows-and-columns
        %legend Row and Column Headings

        .field
          %label Column Headings
          %div#columns-dimension-container.picker

        .field
          %label Rows (values in first column)
          %div#rows-dimension-container.picker

    .other-options
      %fieldset
        %legend Other Options
        .locked-dimensions
          No other options for this dataset