.row.grid-intro
  .sixteen.columns
    :markdown
      This dataset contains multidimensional data (a _data cube_). This grid allows you to view two dimensions at a time.

      Use the drop-downs below the grid to choose which dimensions to use for the rows and columns.

.row.grid-header
  .twelve.columns
    .grid-title
      %h3#cube-grid-title
        &nbsp;
  .four.columns
    .grid-status
      .status-value
      = image_tag("publish_my_data_enterprise/small-spinner.gif", alt: "busy", style: "display:none", class: "busy")
.row
  .sixteen.columns
    #data-cube-grid.data-grid
    .grid-footer
      .footer-content

.row.controls-wrapper
  = render 'publish_my_data/data_cube/controls'

.row
  .sixteen.columns
    %h3 Help
    .docs(style="padding-top:7px")
      %ul
        %li
          To view the information held in our database for a column or individual cell, just click the blue links in the grid.
        %li
          You can re-order a column's contents by clicking on its header (anywhere except the links themselves), or resize it by dragging the column boundaries.
        %li
          The entire contents of grid (based on the currently selected options and ordering) can be downloaded in CSV format via the link in the grid footer.


:javascript
  $(function() {
    new Swirrl.DatasetCubeGrid(window.location.host, '#{dataset.slug}', "#{dataset.title}", "#data-cube-grid");
  });