<%= form_tag sparql_endpoint_path, :id => 'sparql-form', :method => :get do %>
  <label class='textarea-container'>
    <%= text_area_tag :query, @query_text, :id => 'console-query'%>
  </label>

  <div class="centred submit primary">
    <%= submit_tag("Run Query", :class => "form_submit", :id => 'execute-sparql-query') %>
  </div>
<% end %>
<hr/>