- highlight_in_menu "endpoint"
- set_page_title "SPARQL endpoint"
- page_kind 'complete set of results'

%header
	= fullwidth do
		= page_title("SPARQL endpoint")
	-if @sparql_query
		=fullwidth do
			- if @error_message
				.pmd_error_box
					%p
						%i.icon-warning
						=@error_message
			- else
				.pmd_success_box
					%p
						%i.icon-check
						Query ran successfully.
						%a{href:"#query_results"} Skip to results

= render 'publish_my_data/stripes/sparql_console'
= render 'publish_my_data/stripes/sparql_results'
