%h1{style:"background:#f00; color:#fff; padding:20px;"}
	This page doesn't look as intended because you need to make a template in your app at: <kbd>views/layouts/publish_my_data/application.html.haml</kbd> (or <kbd>.erb</kbd>)

= render template: 'layouts/publish_my_data/pmd_layout'