%select.formats{style:'display:inline;'}
  %option{value: sparql_endpoint_url(:format => 'json', :query => @sparql_query.query)}
    JSON
  %option{value: sparql_endpoint_url(:format => 'xml', :query => @sparql_query.query)}
    XML
  %option{value: sparql_endpoint_url(:format => 'txt', :query => @sparql_query.query)}
    Text