- set_page_title "Accessibility"
- highlight_in_menu "accessibility"
- bodyclass 'docs'

%header
	= fullwidth do
		= page_title("Accessibility")
%section
	= fullwidth do
		%p
			Your accessibility docs here.