- highlight_in_menu "documentation"
- set_page_title "Developer documentation"
- bodyclass 'docs'

%header
	=fullwidth do
		= page_title("Developer documentation")
		= yield :pageheader

%section
	=fullwidth do
		= render 'publish_my_data/content/docs_index'