- set_page_title "Privacy & Cookies"
- highlight_in_menu "privacy"
- bodyclass 'docs'

%header
	= fullwidth do
		= page_title("Privacy &amp; Cookies")
%section
	= fullwidth do
		%p
			Your privacy docs here.