- highlight_in_menu "about pmd"
- set_page_title "About PublishMyData"
- set_pmd_page_class 'docs'

%header
	= fullwidth do
		= page_title("About PublishMyData")
%section
	= fullwidth do
		:markdown
			PublishMyData is Swirrl's Linked Data publishing platform. It lets you serve your 5-star Open Data on the web in a format that’s easy to understand, but it’s also machine readable so data experts can exploit it.

			With PublishMyData your organisation’s data can be used to far greater effect: linking with other, related data and reaching a wider audience who, in turn, can manipulate it for themselves.

			The Ruby on Rails-based [PublishMyData Community Edition](http://github.com/swirrl/publish_my_data) forms the core of our enterprise software. You are free to use Community Edition to create and host your own Linked Data sites, with no licensing costs. It does not provide you with access to our online administration tools, but command-line alternatives are available.

			[Find out more](http://publishmydata.com).