<table>
  <thead>
    <tr>
      <td colspan="2"><h3><strong><%= pluralize themes.length, "theme" %></strong></h3></td>
    </tr>
    <tr>
      <th>Label</th>
      <th>Number of datasets</th>
    </tr>
  </thead>
  <tbody>
    <% themes.each do |theme|%>
      <tr>
        <td class="details constrain">
          <h3><%= link_to (theme.label || theme.uri), theme %></h3>
          <p style="margin-bottom:10px"><%= theme.comment %></p>
        </td>
        <td>
          <%= pluralize( theme.datasets_count, "dataset" )%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>