<table>
  <thead>
    <tr>
      <td><h3><strong><%= pluralize datasets.total_count, "dataset" %></strong></h3></td>
    </tr>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% datasets.each do |dataset|%>
      <%= render 'publish_my_data/datasets/dataset_row', dataset: dataset %>
    <% end %>
  </tbody>

  <% if (datasets.total_count > pagination_params.per_page) %>
    <tfoot>
      <tr><td><%= paginate datasets %></td></tr>
    </tfoot>
  <% end %>
</table>