- highlight_in_menu "catalogue"
- set_page_title "Catalogue"
- page_kind 'page of datasets'
- bodyclass 'datasets'

- format_options = {only_path:false, page: @pagination_params.page, per_page: @pagination_params.per_page}
- additional_format('N-triples', url_for(format_options.merge(format: 'nt')))
- additional_format('Turtle', url_for(format_options.merge(format: 'ttl')))
- additional_format('RDF/XML', url_for(format_options.merge(format: 'rdf')))
- additional_format('JSON', url_for(format_options.merge(format: 'json')))

%header
	= fullwidth do
		= page_title("Catalogue")
		%p
			The data are organised into <em>datasets</em> of thematically-related information. You can also browse the dataset catalogue 
			= link_to 'by theme', '/themes'

= render "publish_my_data/stripes/dataset_list", locals:{container:"theme", preposition:"in"}