<table>
  <thead>
    <tr><th><%= pluralize concepts.length, 'concept' %></th></tr>
  </thead>
  <tbody>
    <% concepts.each do |c| %>
      <tr>
        <td class="details">
          <hgroup>
            <h3><%= c.label %><br/></h3>
            <%= link_to c.uri.to_s, c.uri.to_s %>
          </hgroup>
          <section><%= c.comment %></section>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
