legend {
  border-bottom: none;
  width: auto;
}

code {
  display: block;
}

section#stats-selector {
  h4 {
    font-weight: 600;
  }

  ul {
    margin-bottom: 30px;

    li {
      padding: 10px;
      margin-bottom: 3px;

      &#imported {
        background-color: $info-color-background;   
        color: $info-color-text; 
      }
      &#not-imported {
        background-color: $warning-color-background;
        color: $warning-color-text;

        code {
          display: none;
          background-color: $white;
          margin-top: 10px;
          padding: 5px;
        }
      }
    }
  }

  &.step-two {
    .submit {
      text-align: center;
    }
  }
  &.step-three {
    .actions {
      margin-top: 30px;
      text-align: center;
    }
  }
}

input#csv_upload {
  border: none;
  margin-bottom: 10px;
}

a.btn-cancel {
  background-color: $error-color-text !important;

  &:hover {
    background-color: lighten($error-color-text, 10%) !important;
  }
}

section#preview {
  overflow: scroll;
  width: 100%;
  border: 1px solid $lightGrey;
  padding: 6px 12px;

  header {
    color: $lightGrey;
    font-weight: 600;
    padding: 0 6px;
  }

  table {
    margin-top: 0;
    width: auto;

    &, tr, th, td {
      border: none;
      background-color: $white;
      padding: 6px;
    }

    thead {
      border-bottom: 2px solid $veryLightGrey;
      th {
        border-left: 1px solid $veryLightGrey;
      }
      th.measure {
        text-align: center;
      }
    }

    .highlight {
      background-color: $exceedinglyLightGrey;
    }

    tbody {
      td {
        min-width: 60px;
      }
      th {
        min-width: 180px;
      }
    }

    tfoot {
      td {
        padding: 5px 0 11px 0;
      }

      th.fragment-actions {
        text-align: center;
        padding: 0 0 6px 0;

        a.btn-remove-data {
          display: inline-block;
          background-color: $lightGrey;
          color: $grey !important;

          &:hover {
            background-color: darken($lightGrey, 5%);
          }
        }
      }
    }

    td.intro {
      border-bottom: none !important;
      vertical-align: middle;
      text-align: center;
      width: 100%;

      p {
        display: inline-block;
        width: 320px;
      }
    }
  }
}

div#add-data-spinner {
  width: 240px;

  .modal-body {
    text-align: center;
  }
}

div#add-data-modal {
  @extend .modal;

  a.close {
    float: right;
    position: relative;
    top: -5px;
    font-weight: 700;
    font-size: 20px;
    color: $lightGrey;

    &:hover {
      color: $grey;
    }
  }
}

div#new-fragment {
  .step-two {
    h1 {
      margin-bottom: 0;
    }

    h2, h3 {
      margin-bottom: 5px;
    }

    header h3 {
      margin-bottom: 0;
    }
  }

  .spinner {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 3px;
  }

  form {
    margin-bottom: 0;

    .form-control {
      margin-bottom: 10px;
    }
    .submit input {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    hr {
      margin: 10px 0;
    }
  }
}

div#filter-lists {
  div.dimension {
    em {
      display: block;
      padding: 3px 0;
      font-weight: 600;
    }

    ul {
      @include clearfix();
      margin: 0;

      & > li {
        float: left;
        margin: 0 3px 3px 0;
        padding: 3px 5px;
        border-radius: 3px;
        
        &.dimension-label {
          background-color: inherit !important;
          padding: 3px 0;
        }

        a {
          color: $white;
        }
      }
    }
  }
}

ul#dimensions > li {
  & > ul {
    @include clearfix();
    margin: 0;

    li {
      float: left;
      margin: 0 3px 3px 0;
      padding: 0;

      a {
        display: block;
        border-radius: 3px;
        padding: 3px 5px;
      }
    }
  }
}

ul#dimensions > li:nth-child(4n+1) li a, div#filter-lists div.dimension:nth-child(4n+1) li {
  background-color: lighten($first-tag-color, 30%);
  color: darken($first-tag-color, 10%);

  &:hover {
    background-color: lighten($first-tag-color, 20%);
  }
}

ul#dimensions > li:nth-child(4n+2) li a, div#filter-lists div.dimension:nth-child(4n+2) li {
  background-color: lighten($second-tag-color, 30%);
  color: darken($second-tag-color, 10%);

  &:hover {
    background-color: lighten($second-tag-color, 20%);
  }
}

ul#dimensions > li:nth-child(4n+3) li a, div#filter-lists div.dimension:nth-child(4n+3) li {
  background-color: lighten($third-tag-color, 30%);
  color: darken($third-tag-color, 20%);

  &:hover {
    background-color: lighten($third-tag-color, 20%);
  }
}

ul#dimensions > li:nth-child(4n) li a, div#filter-lists div.dimension:nth-child(4n) li {
  background-color: lighten($fourth-tag-color, 30%);
  color: darken($fourth-tag-color, 10%);

  &:hover {
    background-color: lighten($fourth-tag-color, 20%);
  }
}

div#filter-lists div.dimension:nth-child(4n+1) em.all-values {
  color: darken($first-tag-color, 10%);
}

div#filter-lists div.dimension:nth-child(4n+2) em.all-values {
  color: darken($second-tag-color, 10%);
}

div#filter-lists div.dimension:nth-child(4n+3) em.all-values {
  color: darken($third-tag-color, 20%);
}

div#filter-lists div.dimension:nth-child(4n) em.all-values {
  color: darken($fourth-tag-color, 10%);
}