/****************************************************************************

	     ____  __  ______  __    _________ __  __
	    / __ \/ / / / __ )/ /   /  _/ ___// / / /
	   / /_/ / / / / __  / /    / / \__ \/ /_/ /
	  / ____/ /_/ / /_/ / /____/ / ___/ / __  /
	 /_/    \____/_____/_____/___//____/_/ /_/

	     __  _____  __
	    /  |/  /\ \/ /
	   / /|_/ /  \  /
	  / /  / /   / /
	 /_/  /_/   /_/

	     ____  ___  _________
	    / __ \/   |/_  __/   |
	   / / / / /| | / / / /| |
	  / /_/ / ___ |/ / / ___ |
	 /_____/_/  |_/_/ /_/  |_|

	 By SWIRRL, baby. v2.0.2 2014

****************************************************************************/

// NB - including stylsheet should specify @charset "UTF-8" to support icons

// ==========================================================================
//   DEFAULTS (override these in your application .scss)
// ==========================================================================

$pmdconfig_typeface_bodycopy:						"Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$pmdconfig_typeface_monospace:						Inconsolata, Monaco, Menlo, Consolas, "Courier New", monospace !default;

$pmdconfig_font-size:								16px !default;
$pmdconfig_space_vertical:							24px !default;
$pmdconfig_border_thickness_heavy:					4px !default;

$pmdconfig_colour_body_background:					white !default;		// main page background
$pmdconfig_colour_body_text:						#000 !default;		// main page bodycopy

$pmdconfig_colour_page_furniture:					#eee !default;		// section dividers etc

$pmdconfig_colour_link:								#2064c4 !default;
$pmdconfig_colour_link_hover:						black !default;
$pmdconfig_colour_table_borders:					#eee !default;
$pmdconfig_colour_table_header_text:				black !default;
$pmdconfig_colour_label:							#bbb !default;		// labels (eg 'Abstract', 'Description', 'Tags' etc)

// Configure navigation colours

$pmdconfig_colour_nav_top_background:				#ccc !default;
$pmdconfig_colour_nav_top_text:						black !default;
$pmdconfig_colour_nav_top_background_hover:			#aaa !default;
$pmdconfig_colour_nav_top_text_hover:				white !default;

$pmdconfig_colour_nav_background:					#eee !default;
$pmdconfig_colour_nav_text:							black !default;
$pmdconfig_colour_nav_selected_text:				black !default;
$pmdconfig_colour_nav_selected_background:			white !default;

$pmdconfig_colour_badge_text:						white !default;

// Configure section colours (used for badges and stripes on head and footer)

$pmdconfig_colour_page_data:						#718d96 !default;
$pmdconfig_colour_page_datasets:					#7aa6ae !default;
$pmdconfig_colour_page_dataset:						#33a6b2 !default;
$pmdconfig_colour_page_resource:					#d0e64b !default;
$pmdconfig_colour_page_ontology:					#ff7700 !default;
$pmdconfig_colour_page_concept:						#ff7700 !default;
$pmdconfig_colour_page_type:						#9ac836 !default;
$pmdconfig_colour_page_theme:						#718d96 !default;

// Configure data grid colours

$pmdconfig_colour_slickgrid_headers:				#f6f6f6 !default;
$pmdconfig_colour_slickgrid_header_borders:			#eee !default;
$pmdconfig_colour_slickgrid_header_inside_borders:	#ddd !default;
$pmdconfig_colour_slickgrid_borders:				#eee !default;
$pmdconfig_colour_slickgrid_outline:				#eee !default;
$pmdconfig_colour_slickgrid_alternate_row_bg:		#fcfcfc !default;
$pmdconfig_colour_slickgrid_content_links:			$pmdconfig_colour_link !default;
$pmdconfig_colour_slickgrid_content_links_hover:	$pmdconfig_colour_link_hover !default;

// ==========================================================================
//   SCOPE - just style PMD, or style whole page
// ==========================================================================

// if $pmdconfig_scope_control is true, pmd styles will be scoped inside the
// class, otherwise, they will be in global scope.

// STOMP on global styles
// set $pmdconfig_scope_global: true...
// when you want the framework and/or html reset to spill out
//
// ie when you're not providing another stylesheet and want to use pmd
// as the basis of the whole site's styles without reimcluding the framework

// NOSTOMP on global styles
// set $pmdconfig_scope_global: false...
// when you are including a sitewide stylesheet
//
// eg when re-using a pre-existing navigation and its styles (read: Wordpress skin)
// so the framework and reset don't stomp on the site's styling

$pmdconfig_scope_global: false !default;
$scope: "";

@if $pmdconfig_scope_global{
	$scope: "html";
} @else {
	$scope: ".pmd"
}

// ==========================================================================
//   FRAMEWORK (add a facade to sit PMD on your favorite css framework)
// ==========================================================================

@import "publish_my_data/facades/bootstrap";

// ==========================================================================
//   REQUIRED PMD STYLING COMPONENTS
// ==========================================================================

@import "publish_my_data/core/0500-icon-font";
@import "publish_my_data/core/1000-utilities";

#{$scope}{
	@import "publish_my_data/core/1500-icons";
	@import "publish_my_data/core/2000-elements";
	@import "publish_my_data/core/4000-layout";
	@import "publish_my_data/core/5000-styling";
	@import "publish_my_data/core/6000-datagrid";
	@import "publish_my_data/core/6200-sparqlconsole";
	@import "publish_my_data/core/7000-experimental";
	@import "publish_my_data/core/8000-colour";
}

// ==========================================================================
//   TODO list
// ==========================================================================
//
// consolidate error styles
// consolidate the different types of code, kbd, uri etc
