<!DOCTYPE html>
<html>
<head>
  <title>PublishMyData</title>
  <%= stylesheet_link_tag    "publish_my_data/application", :media => "all" %>
  <%= javascript_include_tag "publish_my_data/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
