%section
	= fullwidth do
		= section_title("Download the data")
		%p
			A dump of the complete dataset is available for download as
		= link_to dataset.data_dump.to_s, class:"btn icon-box-add type-a" do
			<span>N-Triples<small>(#{dataset.size || "all"}  triples)</small></span>
