%footer
	=fullwidth do
		#credits
			:markdown
				Powered by [PublishMyData](http://swirrl.com/publishmydata) v#{Gem.loaded_specs["publish_my_data"].version}
			%a{:href => "http://www.swirrl.com"}
				= image_tag "publish_my_data/swirrl-logo-b.png", :alt => "Swirrl"