<div class="row container">
  <div class="sixteen columns">
    <h3>http status code</h3>
    <h1>400</h1>
    <h2>Response Too Large</h2>
  </div>
</div>
<div class="row container">
  <div class="sixteen columns">
    <p>Too much data was returned from the database.</p>
  </div>
</div>