- set_page_title("500: Internal Server Error")

%section
	=fullwidth do
		%h3 Error 500
		= page_title("Internal server error")
		%p
			Something went wrong. We've been notified of the error and we'll investigate.
