<table>
  <thead>
    <tr>
      <th>Predicate</th>
      <th>Object</th>
    </tr>
  </thead>
  <tbody>
    <% resource.predicates.each do |pred| %>
      <tr>
        <td>
          <%= resource_uri_or_label(resource, pred) %>
        </td>
        <td>
          <% resource.read_predicate(pred).each do |obj| %>
            <%= resource_uri_or_label(resource, obj) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>