%section#resource-data
  %table
    %thead
      %tr
        %th
          Predicate
        %th
          Object
    %tbody
      - resource.predicates.each do |predicate|
        %tr
          %td.resource-predicate
            = resource_uri_or_label(resource, predicate)
          %td.resource-object
            - resource.read_predicate(predicate).each do |obj|
              = resource_uri_or_label(resource, obj)