<section id="linked-data">
  <div class="row container">
    <div class="ten columns">
      <h3>SPARQL</h3>
      <p>The data contained in this resource is stored in a named graph, which can be used in <a href="/docs#sparql-introduction">SPARQL</a> queries to restrict results to this resource.</p>
      <%= content_tag :code, resource.data_graph_uri, class: 'namedgraph click-to-select' %>

      <h3>Download</h3>
        <p>
          <%= link_to show_resource_path(:uri => resource.uri, :format => 'nt') do %>
            <i class="icon-download"></i> Download this resource as n-triples
          <% end %>
        </p>
    </div>
    <div class="five columns offset-by-one">
      <p>
        <a href="/sparql" class="btn primary">Run a SPARQL Query</a>
      </p>
      <h3>API Docs</h3>
      <p>Full details of how to programatically access the data in this site can be found in the <a href="/docs">Developer Documentation</a>.</p>
    </div>
  </div>
</section>