<table class="resources-summary">
  <thead>
    <tr><th><%= pluralize resources.length, 'resource' %></th></tr>
  </thead>
  <tbody>
    <% resources.each do |r| %>
      <tr>
        <td class="details hardwrap">
          <hgroup>
            <h3><%= resource_uri_or_label(r, r.uri) %></h3>
            <h4 class="click-to-select"><%= r.uri %></h4>
          </hgroup>
          <section><%= r.comment %></section>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
