/************************************************************************
 *
 *	0000 - COLOUR SWATCHES
 *
 **********************************************************************/

// PMS BLACK 7U

$colour-offblack-100:	#54534a;
$colour-offblack-90:	#66655c;
$colour-offblack-80:	#76766d;
$colour-offblack-70:	#86867d;
$colour-offblack-60:	#96968e;
$colour-offblack-50:	#a6a69e;
$colour-offblack-40:	#b7b7b0;
$colour-offblack-30:	#c8c9c2;
$colour-offblack-20:	#dadad4;
$colour-offblack-10:	#ebebe7;
$colour-offblack-5:		#f3f3f1;
$colour-offblack-2:		#f9f9f8;

// PMS 7507 U

$colour-butter-100:	#ffe4b8;
$colour-butter-90:	#ffe7bf;
$colour-butter-80:	#ffe9c5;
$colour-butter-70:	#ffebcc;
$colour-butter-60:	#ffeed2;
$colour-butter-50:	#fff0d8;
$colour-butter-40:	#fff2df;
$colour-butter-30:	#fff5e6;
$colour-butter-20:	#fff8ed;
$colour-butter-10:	#fffbf4;
$colour-butter-5:	#fffdf9;
$colour-butter-2:	#fffefc;

// PMS 178 U

$colour-salmon-100:	#f5866c;
$colour-salmon-90:	#f69177;
$colour-salmon-80:	#f79c83;
$colour-salmon-70:	#f8a78f;
$colour-salmon-60:	#f9b39d;
$colour-salmon-50:	#fbbfab;
$colour-salmon-40:	#fccbba;
$colour-salmon-30:	#fdd7c9;
$colour-salmon-20:	#fde3d8;
$colour-salmon-10:	#fef0e9;
$colour-salmon-5:	#fff6f2;
$colour-salmon-2:	#fffbf9;

// PMS 7544 U

$colour-steel-100:	#95a0a9;
$colour-steel-90:	#9ea9b2;
$colour-steel-80:	#a7b2ba;
$colour-steel-70:	#b1bbc2;
$colour-steel-60:	#bbc3ca;
$colour-steel-50:	#c4ccd3;
$colour-steel-40:	#ced5d8;
$colour-steel-30:	#d9dfe3;
$colour-steel-20:	#e4e8eb;
$colour-steel-10:	#eff2f4;
$colour-steel-5:	#f6f7f8;
$colour-steel-2:	#fbfbfc;

/************************************************************************
 *
 *	1003 - UTILITIES: COLOURS from https://github.com/mrmrs/colors
 *
 **********************************************************************/

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;
